@media (max-width: 768px) {
  .slider-wrapper {
<<<<<<< HEAD
    margin: 30px 20px;
=======
    margin: 40px 10px ;
>>>>>>> 152e5d6f98ce2c23155c3c909ea4dcb36b2acc50
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .menu {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .hamburger-icon {
    display: block; 
  }

  .menu-links {
    display: none;
  }

  .menu-links.open {
    display: flex; 
    flex-direction: column;
    max-height: 300px;
    width: 200px;
  }
}
