@media (max-width: 768px) {
  .slider-wrapper {
    margin: 40px 10px ;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .menu {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .hamburger-icon {
    display: block; 
  }

  .menu-links {
    display: none;
  }

  .menu-links.open {
    display: flex; 
    flex-direction: column;
    max-height: 300px;
    width: 200px;
  }
}
