@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .hamburger-icon {
    display: block; 
  }

  .menu-links {
    display: none;
  }

  .menu-links.open {
    display: flex; 
    flex-direction: column;
    max-height: 300px;
  }
}
