@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blue: #2f5b8e;
  --text: white;
  --orange: #f58219;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* HERO */

.hero {
  height: 100%;
  width: 100%;
  background-color: var(--blue);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

.menu {
  list-style: none;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  cursor: pointer;
}

.hero img {
  height: 100px;
  width: 100px;

}

a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--text);
}

.main-text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

/* CARROUSEL */

.wrapper {
  max-height: 1100px;
  width: 100%;
  background-image: radial-gradient(#feb47b, #f58219);
  padding: 35px;
}

.wrapper .carrousel-1 {
display: grid;
grid-auto-flow: column;
grid-auto-columns: cal((100 / 3) - 12px);
gap: 16px;
overflow: hidden;
}

.carrousel-1 .card {
height: 342px;
list-style: none;
border-radius: 8px;
padding-top: 80px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

.card h2 {
  font-weight: 400;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: grey;
  font-size: 1.2rem;
}
