@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
:root {
  --blue: #2f5b8e;
  --text: white;
  --orange: #f58219;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

/* HERO */

.hero {
  height: 100%;
  width: 100%;
  background-color: var(--blue);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  margin-right: 20px;
  cursor: pointer;
}

.slogan {
  font-family: "Caveat", sans-serif;
  font-size: 1.7rem;
  color: white;
}

.hero img {
  height: 100px;
  width: 100px;  
  /* object-fit: cover; */
}


.menu a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--text);
}

.menu a:hover {
  color: var(--orange);
}

.main-text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

/* CARROUSEL */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f58219;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 30px 150px;
  position: relative;
}

.card-list .card-item {
  color: white;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 60px 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item img {
  width: 250px; 
  height: 250px;
  padding: 4px;
}

.card-list .card-item p {
  font-size: 1.15rem;
  color: var(--text);
  font-weight: 500;
  margin: 14px 0 40px;
}

.slider-wrapper .slider-pagination-bullet {
  background: white;
  height: 15px;
  width: 15px;
  transform: translateX(-50%);
}

.slider-wrapper .swiper-slide-button {
  color: white;
  margin-top: -50px;
  transform: translateY(-50%);
  transition: 0.2 ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: var(--blue);
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  flex-direction: column;
  z-index: 1000;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--blue);
}

.hamburger-icon:hover {
  background-color: #112944;
}

.hamburger-icon i {
  color: white;
  font-size: large;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  /* display: none; */
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 1000;
  background-color: var(--blue);
  /* width: fit-content; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links li:hover {
  list-style: none;
  background-color: var(--blue);
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.menu-links.open {
  display: flex; 
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px; 
  background-color: var(--blue);
  width: 100%; 
  z-index: 1000;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translateY(9px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translateY(-9px);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: #2f5b8e;
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container a {
  font-size: larger;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.contact-info-container a:hover {
  color: var(--blue);
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.social a {
  text-decoration: none;
}

.social i {
  display: flex;
  color: black;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 20px;
  transition: 0.5s;
}
.social i:hover {
  color: var(--blue);
  transform: rotate(360deg);
}

/* FOOTER SECTION */

footer {
  height: 5vh;
  background-color: var(--blue);
}

footer p {
  text-align: center;
  padding-top: 8px;
  font-weight: 700;
}