@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #2f5b8e;
  --text: white;
  --orange: #f58219;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* HERO */

.hero {
  height: 100%;
  width: 100%;
  background-color: var(--blue);
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
  margin-right: 20px;
  cursor: pointer;
}

.hero img {
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--text);
}

.main-text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

/* CARROUSEL */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: radial-gradient(#feb47b, #f58219);
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 30px 150px;
  position: relative;
}

.card-list .card-item {
  color: white;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid rgba(255,255,255,0.5);
}

.card-list .card-item img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 4px;
}

.card-list .card-item p {
font-size: 1.15rem;
color: white;
font-weight: 500;
margin: 14px 0 40px;
}

.slider-wrapper .slider-pagination-bullet {
background: white;
height: 15px;
width: 15px;
transform: translateX(-50%);
}

.slider-wrapper .swiper-slide-button {
  color: white;
  margin-top: -50px;
  transform: translateY(-50%);
  transition: 0.2 ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: var(--blue);
} 